<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h3>グループ編集</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= form_with model: @group, url: group_path, method: :patch do |f| %>
        <div class="form-group">
          <p>画像</p>
          <%= f.file_field :group_image, multiple: true, accept: "image/*", class: 'form-control-file' %>
        </div>
        <div class="form-group">
          <%= f.label :name, "グループ名" %>
          <%= f.text_field :name, required: true, class: 'form-control p-1' %>
        </div>
        <div class="form-group">
          <!--% @group_users.each do |group_user| %>-->
            <!--<div>-->
              <!--%= image_tag @group.user.get_profile_image(100,100), class: "rounded-circle" %></br>-->
              <!--%= user.nickname %>-->
            <!--</div>-->
            <!--%= link_to "削除", group_user_path(@group_user.id), class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "削除しますか？"} %>-->
          <!--% end %>-->
        </div>
        <%= f.submit "更新", class:'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>