<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h3 class="font-weight-bold m-3">グループ編集</h3>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= form_with model: @group, url: group_path, method: :patch do |f| %>
        <div class="form-group">
          <p>グループ画像</p>
          <%= f.file_field :group_image, multiple: true, accept: "image/*", class: 'form-control-file' %>
        </div>
        <div class="form-group">
          <%= f.label :name, "グループ名" %>
          <%= f.text_field :name, required: true, class: 'form-control p-1' %>
        </div>
        <%= f.submit "更新", class:'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>