<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3><%= @group.name %></h3>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>メンバー</th>
            <th>グループ内容</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag @group.get_group_image(200,200) %></td>
            <td>
              <% @group.users.each do |user| %>
                <%= user.nickname %><br>
              <% end %>
            </td>
            <td class="col-sm-5"><%= @group.content %></td>
            <td>
              <% if @group.owner_id == current_user.id %>
                <%= link_to '編集', edit_group_path(@group), class: "btn btn-sm btn-success mb-2" %></br>
                <%= link_to 'グループ削除', group_all_destroy_path(@group), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: '本当に削除しますか？' } %> 
              <% elsif @group.users.include?(current_user) %>
                <%= link_to 'グループから抜ける', group_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
              <% else %>
                <%= link_to 'メンバーに入る', group_join_path(@group), class: "btn btn-sm btn-success" %>
              <% end %>
            </td>
            <td>
              <% #NOTE: include?.. 配列の中に引数が含まれているか %>
              <% if @group.users.ids.include?(current_user.id) %>
                <%= link_to "グループ作品集", group_post_index_path(@group.id), class:'btn btn-picture' %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>