<div class="container">
  <div class="row">
    <div class="col-sm-12 d-flex flex-wrap">
      <% @posts.each do |post| %>
      <div class="form-group col-3">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.images[0].variant(resize: '100x100'), class: "review-img" %>
        <% end %>
        <%= image_tag post.user.get_profile_image(50,50), class:"rounded-circle" %>
        <strong><%= post.title %></strong>
        <%= post.caption %>
      </div>
      <% end %>
    </div>
  </div>
</div>
