<dev class="container">
  <dev class="row">
    <div class="col-12 mx-auto">
      <h3 class="text-center">作品投稿</h3>
    </div>
  </dev>
  <div class="row">
    <div class="mx-auto colsm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <%= form_with model: @post, url: posts_path, method: :post do |f| %>
        <div class="form-group">
          <%= f.file_field :images, multiple: true, accept: "images/*", onchange: "loadImage();", class: 'form-control-file text-center　push'  %>
          <% #NOTE: 複数画像のアップロード  %>
          <% #TODO: 画像のプレビュー　%>
          <% #NOTE: 下記のコードが選択した画像を表示するようにするもの　%>
          <p id="preview"></p>
          <% #NOTE: 部分テンプレートでプレビューを表示する　%>
          <%= render "loadimage" %>
        </div>
        <div class="form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, required: true, class: 'form-control p-1' %>
        </div>
        <div class="form-group">
          <%= f.text_area :caption, placeholder: "キャプション", class: 'form-control' %>
        </div>
        <div class="form-group">
          <p>スペースを入力することで複数のタグをつけることができます。</p>
          <%= f.text_field :tag_name, placeholder: "タグ", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.radio_button :is_status, :true %>
          <%= f.label :is_status, "公開", {value: :true, style: "desplay: inline-block"} %>
          <%= f.radio_button :is_status, :false %>
          <%= f.label :is_status, "非公開", {value: :false, style: "desplay: inline-block"} %>
        </div>
        <div class="form-group">
          <%= f.submit '作品投稿', class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</dev>