<div class="container">
  <div class="row">
    <div class="mx-auto m-2">
      <% #NOTE: 検索フォーム %>
      <%= form_with url: search_index_posts_path, local: true, method: :get do |form| %>
        <div class="input-group">
          <%= form.text_field :word, placeholder: "キーワード", class:'form-control  input-group-prepend' %>
          <%= form.select :search, options_for_select([["タグ部分一致","partial_match"], ["タグ完全一致","perfect_match"], ["タイトル・キャプション","keyword"]]) %>
          <span class="input-group-btn input-group-append">
            <%= form.submit "検索", class:'btn btn-primary' %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 m-2 d-flex flex-wrap">
    <% @posts.each do |post| %>
      <% if post.user.is_active == true %>
      <div class="card m-1 shadow-sm" style="width: 13rem;">
        <%= link_to post_path(post.id) do %>
          <div class="review-img card-img-top">
            <%= image_tag post.images[0].variant(resize: '200x200') %>
          </div>
        <% end %>
        <div class="card-body" style="border-top:solid">
          <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.get_profile_image(50,50), class:"rounded" %>
          <% end %>
          <p class="font-weight-bold"><%= post.user.nickname %></p>
          <h5 class="card-title"><%= post.title %></h5>
          <% post.tags.each do |tag| %>
            <%= link_to tag.tag_name, search_index_posts_path(tag_id: tag.id) %>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
    <div class="mx-auto">
      <%= paginate @posts %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 mx-auto">
      <% if @posts.size == 0 %>
        <p class="text-center font-weight-bold">検索結果がありませんでした</p>
      <% end %>
    </div>
  </div>
</div>
