
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <div class="form-group mt-3">
          <% if @post.images.attached? %>
            <% @post.images.each do |image| %>
              <%= image_tag image.variant(resize: '300x300') %>
            <% end %>
          <% end %>
        </div>
          <!-- 投稿した画像 -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group col-sm-2">
          <%= link_to user_path(@user.id) do %>
            <%= image_tag @post.user.get_profile_image(100,100), class:"rounded" %>
          <% end %>
          <p class="font-weight-bold offset-2"><%= @post.user.nickname %></p>
        </div>
        <div class="form-group">
          <% if @user.id == current_user.id %>
            <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-success btn-sm" %>
          <% end %>
          <% if @post.user == current_user %>
            <%= link_to "削除", post_path(@post.id), class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "削除しますか？"} %>
          <% end %>
        </div>
        <div class="form-group">
          <h4 class="font-weight-bold"><%= @post.title %></h4>
          <!-- タイトル -->
        </div>
        <div class="form-group">
          <% @post.tags.each do |tag| %>
            <%= link_to tag.tag_name, search_index_posts_path(tag_id: tag.id), class:'btn btn-primary btn-sm' %>
          <% end %>
        </div>
        <div class="form-group">
          <p class="text-muted"><%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></br></p>
          <%= @post.caption %>
          <!-- キャプション -->
        </div>
        <!-- ゲストユーザーは表示しない -->
        <% if current_user.email != "guest@example.com"  %>
          <div class="form-group">
            <!-- いいね機能 -->
            <% if @post.favorited_by?(current_user) %>
              <p>
                <%= link_to post_favorites_path(@post), method: :delete do %>
                  ♥<%= @post.favorites.count %>いいね
                <% end %>
              </p>
              <% else %>
              <p>
                <%= link_to post_favorites_path(@post), method: :post do %>
                  ♡<%= @post.favorites.count %>いいね
                <% end %>
              </p>
            <% end %>
          </div>
        <% end %>
        <div class="form-group">
          <!-- ゲストログインなら表示させない -->
          <% if current_user.email != "guest@example.com"  %>
            <%= form_with model:[@post, @comment] do |f| %>
              <%= f.text_area :comment, row: '5', placeholder: "コメントする", class:"form-control col-sm-7 mb-2" %>
              <%= f.submit "送る", class:"btn btn-info" %>
            <% end %>
          <% end %>
        </div>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>コメント<%= @post.comments.count %>件</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @post.comments.each do |comment| %>
            <tr>
              <td scope="col-sm-3">
                <%= image_tag comment.user.get_profile_image(50,50) %>
                <%= comment.user.nickname %>
              </td>
              <td>
                <%= comment.comment %></br>
                <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
              </td>
              <td>
                <% if comment.user == current_user %>
                  <%= link_to "削除", post_comment_path(comment.post, comment), class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "コメントを削除しますか？"} %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

