<div class="container">
  <div class="row m-5">
    <div class="mx-auto col-sm-11">
      <h3 class="font-weight-bold top-text">ようこそ!</h3>
      <p>
        このサイトでは、好きなものを描いて作品を発信したり</br>
        友達や仲間と集まって描いた作品を投稿して交流できる</br>
        コミュニティサイトです。
      </p>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="row">
      <h3 class="border-bottom">新着投稿</h3>
      <div class="col-sm-12 m-2 d-flex flex-wrap">
        <% @posts.each do |post| %>
          <div class="card m-1 shadow-sm" style="width: 13rem;">
            <div class="review-img card-img-top">
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.images[0].variant(resize: '200x200') %>
            <% end %>
            </div>
            <div class="card-body" style="border-top:solid">
              <!--　引数には投稿したユーザーに遷移したいので（post.user）と　-->
              <%= link_to user_path(post.user) do %>
                <%= image_tag post.user.get_profile_image(50,50), class:"rounded" %>
              <% end %>
              <p class="font-weight-bold"><%= post.user.nickname %></p>
              <h5 class="card-title"><%= post.title %></h5>
              <% post.tags.each do |tag| %>
                <%= link_to tag.tag_name, admin_posts_path(tag_id: tag.id) %>
              <% end %>
              <% if post.is_status == true %>
                <p class="text-success font-width-bold"></p>
              <% else %>
                <p class="text-secondary font-width-bold">非公開</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="mx-auto">
        <div class="group-form m-2">
          <%= link_to "新規登録", new_user_registration_path, class:'btn btn-Wstning-registration btn-block' %>
        </div>
        <div class="group-form m-2">
          <%= link_to "ログイン", new_user_session_path, class:'btn btn-info-login btn-block' %>
        </div>
        <div class="group-form m-2">
          <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class:'btn btn-dark btn-gest' %>
        </div>
      </div>
    </div>
  <% end %>
</div>