<div class="container">
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>グループ名</th>
          <th>内容</th>
          <th>メンバー人数</th>
          <th></th>
        </tr>
      </thead>
      <% @groups.each do |group| %>
      <tbody>
        <tr>
          <td><%= image_tag group.get_group_image(100,100), class: "rounded image_group" %></td>
          <td><%= group.name %></td>
          <td><%= group.content.truncate(30) %></td>
          <td><%= group.users.count %></td>
          <td><%= link_to "入室", admin_group_path(group.id), class:'btn btn-success' %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <div class="mx-auto">
      <%= paginate @groups %>
    </div>
  </div>
</div>