<div class="container">
    <div class="row">
    <div class="mx-auto m-2">
      <!-- 検索フォーム -->
      <%= form_with url: admin_users_path, local: true, method: :get do |form| %>
        <div class="input-group">
          <%= form.text_field :word, placeholder: "キーワード", class:'form-control  input-group-prepend' %>
          <%= form.select :search, options_for_select([["部分一致","partial_match"], ["完全一致","perfect_match"]]) %>
          <span class="input-group-btn input-group-append">
            <%= form.submit "検索", class:'btn btn-primary' %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="bg-light">ユーザー一覧</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <table class="table">
                <thead>
                    <tr class="bg-light">
                        <th>ユーザID</th>
                        <th>ユーザ名</th>
                        <th>メールアドレス</th>
                        <th>ステータス</th>
                    </tr>
                </thead>
                <% @users.each do |user| %>
                    <tbody>
                        <tr>
                            <td><%= user.id %></td>
                            <td>
                                <%= image_tag user.get_profile_image(50,50), class: "image_circle_admin" %>
                                <%= link_to admin_user_path(user.id) do %>
                                    <%= user.nickname %>
                                <% end %>
                            </td>
                            <td><%= user.email %></td>
                            <% if user.is_active == true %>
                                <td class="text-primary font-width-bold">有効</td>
                            <% else %>
                                <td class="text-secondary font-width-bold">退会</td>
                            <% end %>
                        </tr>
                    </tbody>
                <% end %>
            </table>
            <div class="col-sm-12">
                <% if @users.size == 0 %>
                  <p class="text-center">検索結果がありませんでした</p>
                <% end %>
            </div>
        </div>
        <div class="mx-auto">
          <%= paginate @users %>
        </div>
    </div>
</div>

                