<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">

          <%= f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email" %>
        </div>
         <div class="form-group">

          <%= f.password_field :password, placeholder: "パスワード", autocomplete: "current-password" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>

      <%= render "public/shared/links" %>

    </div>
  </div>
</div>

