<div class="container">
  <div class="row">
    <% @favorite_posts.each do |post| %>
    <div class="col-4 pt-3">
      <div class="card mb-4 shadow-sm">
        <div class="review-img card-img-top">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.images[0].variant(resize: '200x200') %>
        <% end %>
        </div>
        <div class="card-body" style="border-top:solid">
          <!--　引数には投稿したユーザーに遷移したいので（post.user）と　-->
          <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.get_profile_image(50,50), class:"rounded-circle" %>
          <% end %>
          <h5 class="card-title"><%= post.title %></h5>
          <% post.tags.each do |tag| %>
            <%= tag.tag_name %>
          <% end %>
          <% if post.is_status == true %>
            <p class="text-success font-width-bold">公開</p>
          <% else %>
            <p class="text-secondary font-width-bold">非公開</p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>