<div class="container">
  <div class="row">
    <div class="col-sm-12 m-3 p-0 d-flex flex-wrap">
    <% @posts.each do |post| %>
      <div class="card m-2 shadow-sm" style="width: 13rem;">
        <div class="review-img card-img-top">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.images[0].variant(resize: '200x200') %>
        <% end %>
        </div>
        <div class="card-body" style="border-top:solid">
          <% #NOTE:　引数には投稿したユーザーに遷移したいので（post.user）と　%>
          <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.get_profile_image(50,50), class:"rounded" %>
          <% end %>
          <h5 class="card-title"><%= post.title %></h5>
          <p><%= post.caption.truncate(10) %></p>
          <% if post.is_status == true && @user.id == current_user.id %>
            <p class="text-success font-width-bold"></p>
          <% else %>
            <p class="text-secondary font-width-bold">非公開</p>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <div class="mx-auto">
      <%= paginate @posts %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 mx-auto">
      <% if @posts.size == 0 %>
        <p class="text-center font-weight-bold">投稿はありません</p>
      <% end %>
    </div>
  </div>
</div>
