<div class="container">
  <div class="row m-3">
    <div class="col-xs-12">
      <h3>グループ一覧</h3>
      <% @groups.each do |group| %>
      <div class="form-group">
        <div class="col-xs-3"><%= image_tag group.get_group_image(100,100), class: "rounded" %></div>
        <h4 class="col-xs-4 border-top"><%= group.name %></h4>
        <p class-"col-xs-6"><%= group.content.truncate(30) %></p>
        <div class="col-xs-3 border-bottom"><%= link_to "入室", group_path(group.id), class:'btn btn-success' %></div>
      </div>
      <% end %>
    </div>
    <div class="mx-auto">
      <% #TODO: ページネーション　%>
      <%= paginate @groups %>
    </div>
  </div>
</div>