<div class="container">
  <div class="row">
    <div class="mx-auto m-2">
      <!-- 検索フォーム -->
      <%= form_with url: users_path, local: true, method: :get do |form| %>
        <div class="input-group">
          <%= form.text_field :word, placeholder: "キーワード", class:'form-control  input-group-prepend' %>
          <%= form.select :search, options_for_select([["部分一致","partial_match"], ["完全一致","perfect_match"]]) %>
          <span class="input-group-btn input-group-append">
            <%= form.submit "検索", class:'btn btn-primary' %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="co-sm-12">
      <h2>ユーザー一覧</h2>
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <% if user.email == "guest@example.com" %>
            <% #NOTE: current.user.emailにすると、ログインしているユーザーが表示されないので注意　%>
            <% #NOTE: 表示の指定をするならuser.emailなどにし ==の後に指定する値を入れる(この場合メアド等)　%>
             <% next %>
            <% end %>
          <tr>
            <td>
              <%= link_to user_path(user.id) do %>
                <%= image_tag user.get_profile_image(100,100), class: "rounded-circl" %></br>
              <% end %>
              <%= user.nickname %>
            </td>
            <% user.posts.where(post_type: 0).published.recent.each do |post| %>
            <td>
              <%= link_to post_path(post) do %>
                <%= image_tag post.images[0].variant(resize: '200x200'), class: "review-img card-img-top" %>
              <% end %>
            </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>