<div class="container">
  <div class="row">
    <div class="col-2 m-4">
      <%= image_tag @user.get_profile_image(200,200), class:"rounded-circle" %>
      <!-- ユーザプロフィール画像-->
    </div>
    <div class="col-6 m-4">
      <div class="form-group">
        <p>ユーザー名</p>
        <%= @user.nickname %>
      </div>
      <div class="form-group">
        <p>自己紹介</p>
        <%= @user.introduction %>
      </div>
      <% if @user.id == current_user.id %>
        <%= link_to "プロフィール編集", edit_user_path(@user), class:'btn btn-success btn-sm' %>
        <%= link_to "作品を投稿する", new_post_path, class:'btn btn-info' %>
        <p>グループ作成</p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-11">
    </div>
  </div>
  <div class="row">
    <div>

    </div>
  </div>
  <div class="row">

  </div>
</div>