<div class="container">
  <div class="row m-4">
    <div class="col-3 col-xs-3">
      <%= image_tag @user.get_profile_image(200,200), class:"rounded image_mypage" %>
      <% #NOTE: ユーザプロフィール画像 %>
    </div>
    <div class="col-8 col-xs-10 m-3">
      <div class="form-group">
        <p class="h3 font-weight-bold"><%= @user.nickname %></p>
      </div>
      <div class="form-group border border-dark rounded p-1">
        <%= @user.introduction %>
      </div>
      <div class="d-flex flex-row">
        <% if @user.id == current_user.id %>
          <% #NOTE: ()内に変数を渡すことでそのviewに飛べる %>
          <%= link_to "プロフィール編集", edit_user_path(@user), class:'btn btn-success btn-sm mx-1' %>
          <%= link_to "グループ内投稿一覧", group_post_user_path(@user), class:'btn btn-info btn-sm mx-1' %>
          <%= link_to "グループを作る", new_group_path, class:'btn btn-dark btn-sm mx-1' %>
        <% end %>
        <% if current_user.email != "guest@example.com" %>
          <%= link_to "グループ一覧", groups_user_path(@user), class:'btn btn-dark btn-sm mx-1' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <h2 class="col-xs-3 offset-1 font-weight-bold">作品一覧</h2>
    <div class="button col-xs-4 offset-1">
      <%= link_to "作品一覧", posts_user_path(@user), class: "btn btn-info btn-sm" %>
    </div>
  </div>
  <div class="row mx-3">
    <div class="col-xs-12">
      <div class="border-top">
        <% @posts.each do |post| %>
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.images[0].variant(resize: '200x200'), class: "review-img m-2" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="row mt-4">
    <h3 class="col-xs-5 offset-1 font-weight-bold ">いいね一覧</h3>
    <div class="button col-xs-4 offset-1">
      <%= link_to "いいね一覧", favorites_user_path(@user), class: "btn btn-info btn-sm" %>
    </div>
  </div>
  <div class="row mx-3">
    <div class="col-xs-12">
      <div class="border-top">
        <% @favorite_posts.each do |post| %>
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.images[0].variant(resize: '200x200'), class: "review-img m-2" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>